<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 bg-light p-4 rounded">
      <h3><%= I18n.t('view.organizations.add_trading.heading_message', organization_name: @organization.name) %></h3>

      <%= form_with url: create_trading_organization_path, method: :post do |form| %>
        <div class="mb-3">
          <%= form.label :amount, class: "form-label" %>
          <%= form.number_field :amount, class: "form-control", step: "0.000001" %>
        </div>
        <div>
          <%= form.submit I18n.t('view.organizations.add_trading.add_button_text'), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
