<h3><%= I18n.t('view.organizations.invite_people.heading_title_message', organization_name: @organization.name) %></h3>

<%= form_with model: @organization, url: add_people_organization_path, method: :post do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email, size: 50 %>
  </div>
  <div>
    <%= form.submit I18n.t('view.organizations.invite_people.invite_button_text') %>
  </div>
<% end %>
