<h3><%= I18n.t('view.organizations.new.title_text') %></h3>

<%= form_with model: @organization, url: organizations_path do |form| %>
  <div>
    <%= form.label :organization_name %>
    <%= form.text_field :organization_name, size: 30 %>
  </div>
  <div>
    <%= form.submit I18n.t('view.organizations.new.button_text') %>
  </div>
<% end %>
