<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center mb-4"><%= I18n.t('view.organizations.new.title_text') %></h3>
          <%= form_with model: @organization, url: organizations_path do |form| %>
            <div class="mb-3">
              <%= form.label :organization_name, class: "form-label" %>
              <%= form.text_field :organization_name, class: "form-control" %>
            </div>
            <div class="mb-3">
            <%= form.label :image, class: "form-label" %><%= form.file_field :image, class: "form-control", accept: "image/png, image/jpeg, image/jpg" %>
            </div>
            <div class="text-center">
              <%= form.submit I18n.t('view.organizations.new.button_text'), class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
