<% if @user_organizations.present? %>
  <div class="container-fluid bg-light py-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <ul class="list-unstyled mb-4">
              <li class="text-center">
                <%= link_to I18n.t('view.organizations.show.invite_people_link_text'), invite_people_organization_path(@user_organizations.first.organization.id), class: "btn btn-primary btn-lg" %>
              </li>
            </ul>

            <h2 class="text-center mb-4"><%= @user_organizations.first.organization.name %> <%= I18n.t('view.organizations.show.heading_message') %></h2>

            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th><%= I18n.t('view.organizations.show.table_name_heading_message') %></th>
                  <th><%= I18n.t('view.organizations.show.table_email_heading_message') %></th>
                  <th><%= I18n.t('view.organizations.show.table_invitation_heading_message') %></th>
                  <th><%= I18n.t('view.organizations.show.table_role_heading_message') %></th>
                  <th><%= I18n.t('view.organizations.show.table_action_heading_message') %></th>
                </tr>
                </thead>
                <tbody>
                <% @user_organizations.each do |user_organization| %>
                  <tr>
                    <td><%= user_organization.user.name %></td>
                    <td><%= user_organization.user.email %></td>
                    <td><%= user_organization.invitation %></td>
                    <td><%= user_organization.role %></td>
                    <td>
                      <% if user_organization.role == I18n.t('controller.organization.users_role.non-admin') && user_organization.invitation == I18n.t('controller.organization.invitation_status.accepted') %>
                        <%= link_to I18n.t('view.organizations.show.make_admin_link_text'), make_admin_organization_path(user_organization.organization.id, user_id: user_organization.user.id), class: "btn btn-primary btn-sm", data: { turbo_method: :patch, turbo_confirm: "Are you sure to promote to admin?" } %>
                        <%= link_to I18n.t('view.organizations.show.remove_member_link_text'), remove_people_organization_path(user_organization.organization.id, user_id: user_organization.user.id), class: "btn btn-danger btn-sm", data: { turbo_method: :delete, turbo_confirm: "Are you sure to remove this member from organization?" } %>
                      <% elsif user_organization.role == I18n.t('controller.organization.users_role.non-admin') && user_organization.invitation == I18n.t('controller.organization.invitation_status.pending') %>
                        <%= link_to I18n.t('view.organizations.show.cancel_invitation_link_text'), remove_people_organization_path(user_organization.organization.id, user_id: user_organization.user.id), class: "btn btn-danger btn-sm", data: { turbo_method: :delete, turbo_confirm: "Are you sure to cancel the invitation?" } %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <p class="text-center"><%= I18n.t('view.organizations.show.no_user_of_organization_found_message') %></p>
<% end %>
