<meta name="turbo-prefetch" content="false">
<ul>
  <li>
    <%= link_to 'Add Trading', add_trading_organization_path(@organization.id) %>
  </li>
  <li>Add a comment</li>
  <%= form_with url: add_comment_organization_path(@organization.id), method: :post do |form| %>
    <div>
      <%= form.label :comment %>
      <%= form.text_field :comment,  max_length: 100 %>
    </div>
    <div>
      <%= form.submit "Add Comment" %>
    </div>
  <% end %>
</ul>
<h2>Running Month Tradings for <%= @organization.name %></h2>
<% if @tradings.present? %>
  <table>
    <thead>
    <tr>
      <th>Added At</th>
      <th>Added By</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <% @tradings.each do |trading| %>
      <tr>
        <td><%= trading.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= trading.user.email %></td>
        <td><%= trading.amount %></td>
        <td><%= link_to "Delete", delete_trading_organization_path(trading_id: trading.id), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure to delete the trading?"
        } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>No trading found.</p>
<% end %>

<hr>
<h2> Comments</h2>
<% if @comments.present? %>
  <% @comments.each do |comment| %>
    <div>
    <ul>
      <li><%= comment.user.email %>  (<%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %>)
        <%= link_to "Delete", delete_comment_organization_path(comment_id: comment.id), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure to delete the comment?"
        } %></li>
      <%= comment.body %>

    </ul>
    </div>
  <% end %>
<% else %>
  <p> No comments found</p>
<% end %>
