<!DOCTYPE html>
<html>
  <meta name="turbo-prefetch" content="false">
  <head>
    <title>ExpenseManagementSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div><%= notice %></div>
    <div><%= alert %></div>

    <% if user_signed_in? %>
      <ul>
        <li><%= button_to I18n.t('view.layout.application.button_text') , session_path, method: :delete%></li>
        <li><%= link_to I18n.t('view.layout.application.edit_password_text'), edit_password_path %></li>
        <li><%= link_to I18n.t('view.layout.application.my_organization_text'), organizations_my_organizations_path %></li>
        <Li><%= link_to I18n.t('view.layout.application.organization_invitation_text'), organizations_invitations_path %></Li>
      </ul>
    <% else %>
      <ul>
        <li><%= link_to I18n.t('view.layout.application.signup_link_text'), new_registrations_path %></li>
        <li><%= link_to I18n.t('view.layout.application.login_link_text'), new_session_path %></li>
      </ul>
    <% end %>
      
    <%= yield %>
  </body>
</html>
